anyio==3.7.1
assemblyai==0.13.0
blis==0.7.9
catalogue==2.0.8
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.5
confection==0.1.0
cymem==2.0.7
dateparser==1.1.8
decorator==4.4.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl#sha256=83276fc78a70045627144786b52e1f2728ad5e29e5e43916ec37ea9c26a11212
et-xmlfile==1.1.0
ffmpeg==1.4
ffmpeg-python==0.2.0
fr-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.6.0/fr_core_news_sm-3.6.0-py3-none-any.whl#sha256=88ba4254539a7efb51d5e0c5b6c4ea5b350542752b634088274c1b97d8c8b8ee
future==0.18.3
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
idna==3.4
imageio==2.31.1
imageio-ffmpeg==0.4.8
Jinja2==3.1.2
langcodes==3.3.0
Levenshtein==0.21.1
MarkupSafe==2.1.3
moviepy==1.0.3
murmurhash==1.0.9
numpy==1.25.1
openai==0.10.5
openpyxl==3.1.2
packaging==23.1
pandas==2.0.3
pandas-stubs==2.0.2.230605
pathy==0.10.2
Pillow==10.0.0
preshed==3.0.8
proglog==0.1.10
pycparser==2.21
pydantic==1.10.11
python-dateutil==2.8.2
pytz==2023.3
rapidfuzz==3.1.1
regex==2023.6.3
requests==2.31.0
semantic-version==2.10.0
setuptools-rust==1.6.0
simplejson==3.19.1
six==1.16.0
smart-open==6.3.0
sniffio==1.3.0
spacy==3.6.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SpeechRecognition==3.9.0
srsly==2.4.6
srt==3.5.3
thinc==8.1.10
tqdm==4.65.0
typer==0.9.0
types-pytz==2023.3.0.0
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==5.0.1
urllib3==2.0.3
vosk==0.3.44
wasabi==1.1.2
websockets==11.0.3
whisper==1.1.10
